<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ver usuarios</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>A continuación se muestran los usuarios:</h1>

    <ul>
      {% for usuario in usuarios %}
      <li>
        <pre>{{ usuario }}</pre>
        <form action="{{ url_for('usuario.eliminar_usuario_bp', idUsuario=usuario.idUsuario) }}" method="post">
            <input type="hidden" name="user_id" value="{{ usuario.id }}">
            <button type="submit">Eliminar</button>
        </form>
        <form action="{{ url_for('usuario.actualizar_usuario_bp', idUsuario=usuario.idUsuario) }}" method="get">
            <input type="hidden" name="user_id" value="{{ usuario.id }}">
            <button type="submit">Actualizar</button>
        </form>
      </li>
      {% endfor %}
    </ul>
    <form action="{{ url_for('usuario.agregar_usuario') }}" method="get">
        <button type="submit">Agregar usuario</button>
    </form>
    <a href="{{ url_for('index') }}">Volver</a>
  </body>
</html>
