.nav-contenedor {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav-contenedor ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-contenedor ul li {
    margin-bottom: 20px;
}

.nav-contenedor ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 26px;
}

.nav-contenedor ul li a:hover {
    background-color: #555;
}
